@{
    ViewBag.Title = "Опис вправ та правильної техніки виконання";
}

<h2>@ViewBag.Title.</h2>

<head>

</head>
<body>
    <p> <a target="_blank" href="https://nakachka.org.ua/zhym-shtanhy-vid-hrudej-lezhachy-tehnika/">Жим штанги лежачи на горизонтальній лаві, від грудей</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vprava-planka-yak-pravylno-vykonuvaty/">Вправа "Планка", як правильно виконувати</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/rozvedennya-hantelej-na-pohylij-lavi/">Розведення гантелей на похилій лаві</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/hakk-prysidannya-trenujemo-nohy/">Гакк-присідання: тренуємо ноги</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/yak-nakachaty-shyyu-trenuvalna-prohrama/">Як накачати шию: тренувальна програма</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/zhym-nohamy-na-trenazheri/">Жим ногами на тренажері</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/yak-nakachaty-vnutrishnyu-chastynu-hrudnyh-myaziv/">Як накачати внутрішню частину грудних м'язів</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/trenuvannya-popereku-osoblyvosti-ta-metodyka/">Тренування попереку: особливості та методи</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/tyaha-t-hryfa-trenujemo-spynu/">Тяга "Т-грифу" - тренуємо м'язи спини</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vprava-molot-trenujemo-bitsepsy/">Вправа "Молот" - тренуємо біцепс</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/yak-nakachaty-spynu-10-pravyl-potuzhnoji-spyny/">10 правил для потужної спини</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/prohulyanka-fermera-prosta-ta-efektyvna-bazova-vprava/">Прогулянка "Фермера". Проста та ефективна</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/yak-trenuvaty-hvat-vpravy-dlya-trenuvannya-syly-hvatu/">Вправи для тренування хвату</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/pullovery-z-hantellyu/">Пулловери з гантеллю</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/tyahy-bloku-donyzu-pered-soboyu/">Тяга верхнього блоку до грудей</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/pidjom-shtanhy-na-bitseps-zvorotnym-hvatom/">Підйом штанги на біцепс зворотнім хватом</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/prysidannya-zi-shtanhoyu-na-hrudyah-prytsilnyj-udar-po-kvadrytsepsah/">Присідання зі штангою на грудях – прицільний удар по квадрицепсах.</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/chastkovi-pidtyahuvannya/">Часткові підтягування</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/zhym-lezhachy-zvorotnym-hvatom/">Жим лежачи зворотнім хватом</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/yak-kachaty-ikry/">Вправи для тренування гомілкових м'язів</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/tyaha-shtanhy-do-pidboriddya-kachajemo-delty/">Тяга штанги до підборіддя</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vybuhovyj-kvartet-dlya-nakachky-bitsepsa/">Вибуховий квартет для накачки біцепса</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/kachajemo-trytsepsy-zhym-hanteli-z-za-holovy/">Жим гантелі з-за голови, качаємо трицепс</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/kontsentrovani-zhynannya-ruk-trenujemo-bitseps/">Концентровані згинання рук, тренуємо біцепс</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/rozvedennya-hantelej-v-storony-stoyachy-i-v-nahyli/">Розведення гантелей в сторони стоячи в нахилі</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/zhym-shtanhy-sydyachy-z-za-holovy/">Жим штанги сидячи з-за голови</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/shrahy-trenujemo-trapetsiji/">Вправа для трапецевиднихх м'язів - "Шраги"</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vidzhymannya-na-brusah/">Віджимання на брусах</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/pidjom-shtanhy-na-bitseps/">Підйом штанги на біцепс</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/zhym-hantelej-lezhachy/">Жим гантелей лежачи</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/pidjomy-na-nosky-stoyachy/">Підйоми на носки стоячи</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/zhym-shtanhy-lezhachy-na-pohylij-lavtsi/">Жим штанги лежачи на похилій лаві, від грудей</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/pidjomy-hantelej-pered-soboyu-kachajemo-plechi/">Підйоми гантелей перед собою. Качаємо плечі</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vypryamlennya-nih-na-trenazheri/">Випрямлення ніг на тренажері</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/nahyly-zi-shtanhoyu-na-plechah/">Нахили зі штангою на плечах</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/hiperekstenziya-trenujemo-spynu/">Гіперекстензія</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/kachajemo-bitseps-zhynannya-ruk-zi-shtanhoyu-na-lavtsi-skotta/">Гіперекстензія</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/hiperekstenziya-trenujemo-spynu/">Згинання рук у тренажері Скотта</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/kachajemo-plechi-zhym-arnolda/">"Жим Арнольда"</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/kachajemo-trytsepsy-frantsuzkyj-zhym-lezhachy/">Французький жим лежачи</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/tyaha-shtanhy-do-poyasu-v-nahyli/">Тяга штанги до поясу в нахилі</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/zvedennya-ruk-v-trenazheri-baterflyaj/">"Батерфляй"</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/zhym-shtanhy-stoyachy-armijskyj-zhym/">"Армійський жим"</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/rozvedennya-hantelej-lezhachy-na-horyzontalnij-lavi/">Розведення гантелей лежачи на горизонтальній лаві</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/kachajemo-bitseps-pidjomy-hantelej-na-bitseps-stoyachy/">Підйоми гантелей на біцепс стоячи</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/pidtyahuvannya-nakachujemo-shyroku-spynu-vydy-pidtyahuvan/">Різні види підтягувань</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/yak-nakachaty-trapetsiji/">Як накачати трапеції?</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vpravy-dlya-presu-kosi-skruchuvannya/">Вправи для пресу. Косі скручування</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vpravy-dlya-presu-pidjomy-nih-u-vysi/">Підйом ніг у висі</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vpravy-dlya-presu-pidjomy-kolin-u-vysi/">Підйоми колін у висі</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vpravy-dlya-presu-zvorotni-skruchuvannya/">Зворотні скручування</a></p>
    <p> <a target="_blank" href=" https://nakachka.org.ua/vpravy-dlya-presu-skruchuvannya-na-kolinah-v-blochnomu-trenazheri/">Скручування на колінах у блочному тренажері</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vpravy-dlya-presa-skruchuvannya-na-pohylij-lavtsi/">Скручування на похилій лаві</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/vpravy-dlya-presu-skruchuvannya-na-rymskomu-stiltsi/">Скручування на римському стільці</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/trenujemo-peredplichchya-zhynannya-ruk-v-zapyastyah/">Згинання рук у зап'ясті  </a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/trenujemo-spynu-tyaha-hanteli-v-nahyli/">Тяга гантелі в нахилі</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/prysidannya-zi-shtanhoyu-na-spyni-detalno-pro-vpravu-chastyna-1/">Присідання зі штангою на спині. Детально про вправу. Частина 1</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/prysidannya-zi-shtanhoyu-na-spyni-chastyna-2-vykonannya-prysidan/">Присідання зі штангою на спині. Частина 2. Виконання присідань</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/prysidannya-zi-shtanhoyu-na-spyni-chastyna-3-porady-pry-vykonanni-prysidan/">Присідання зі штангою на спині. Частина 3. Поради при виконанні присідань</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/prysidannya-zi-shtanhoyu-na-spyni-chastyna-4-strahovka-i-bezpeka-pry-prysidannyah/">Присідання зі штангою на спині. Частина 4. Страховка і безпека при присіданнях</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/prysidannya-zi-shtanhoyu-na-spyni-chastyna-5-bezpeka-pid-chas-prysidan/">Присідання зі штангою на спині. Частина 5. Безпека під час присідань</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/nakachka-presa-trysetamy/">Накачка пресу трисетами</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/zhym-shtanhy-lezhachy-vuzkym-hvatom/">Жим штанги лежачи (вузьким хватом)</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/varianty-stanovoji-tyahy-tyaha-na-pryamyh-nohah/">Станова тяга на прямих ногах</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/varianty-stanovoji-tyahy-tyaha-v-styli-sumo/">Станова тяга у стилі "Сумо"</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/varianty-stanovoji-tyahy-tyaha-z-uporiv/">Станова тяга з упорів</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/varianty-stanovoji-tyahy-tyaha-v-rami-tyaha-trep-hryfom/">Станова тяга в рамі</a></p>
    <p> <a target="_blank" href="https://nakachka.org.ua/varianty-stanovoji-tyahy-rumunska-tyaha/">Станова тяга "Румунським стилем"</a></p>
   
</body>