@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>

    <abbr title="Phone">P:</abbr>
    +38 068 025 82 39
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:valik3x@gmail.com">valik3x@gmail.com</a><br />

</address>