@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Training Journal</h1>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Вітаю Вас на головній сторінці My Training Journal!</h2>
        <p>
            Даний журнал розрахований на детальний моніторинг виконаних вправ за датами днів
            таких, як: Понеділок, Середа, П'ятниця. Саме вони є найоптимальнішим варіантом для 
            тренувань. Такий порядок забезпечує чергувати навантаження із необхідним відпочинком.
        </p>

    </div>


</div>